<!DOCTYPE html>
<html>
<head>
  <title>Chappie Movie</title>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true  %>
  <%= javascript_include_tag 'http://code.jquery.com/jquery-1.11.3.min.js' %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
	<body>


	<%= yield %>



	<script type="text/javascript">
		$(".warning").hide().show("slow");
		$(".chappies").hide().fadeIn(3300);
		$(".darth").hide().show("slow");
		$(".darth").hide().fadeIn(950);

		$(".spoiler span").hide();
		$(".spoiler").append("<button>Reveal Spoiler!</button>");
		$("button").click(function(){
			$(this).prev().show();
			$(this).remove();
		});
	</script>
	</body>
</html>
